<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*">
    <mat-card-title>{{ review.title }}</mat-card-title>
    <mat-card-subtitle>
      <ng-container *ngFor="let _ of getRatingArray(review.rating)">
        <mat-icon [ngClass]="{'gold-star': _ < review.rating, 'gray-star': _ >= review.rating}">star</mat-icon>
      </ng-container>
      - {{ review.username }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ review.content }}
  </mat-card-content>
</mat-card>
