<div class="container">
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend lectus vitae mauris finibus, nec blandit urna feugiat. Nulla facilisi. Fusce
        aliquam quam quis neque tincidunt vestibulum. Integer eget lectus vitae eros venenatis scelerisque nec et odio. Nulla facilisi. Integer vehicula
        ultrices lorem ut malesuada. Vivamus ut justo eget elit ultrices suscipit.
      </p>
      <p>
        Phasellus at ligula sit amet eros fermentum sollicitudin. Morbi in sapien eu lorem vestibulum aliquet. Nam auctor aliquam nisi id suscipit. Etiam
        porta augue ut interdum tempus. Sed a mi eu dui mollis dignissim. Aliquam cursus eget dolor non ultrices. Pellentesque euismod euismod neque,
        vel scelerisque odio fringilla eget.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="map-container">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2844.316882715323!2d26.041817812261918!3d44.52914387095344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b2035974b7c1cb%3A0x48a9ea49cd21601a!2sNational%20Academy%20of%20Intelligence!5e0!3m2!1sen!2sro!4v1714291437623!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="comment-section">
  <mat-card>
    <mat-card-header>
      <h2>Contact us</h2>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Your e-mail:</mat-label>
          <input matInput type="text" name="comment-title" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Comment:</mat-label>
          <textarea matInput name="comment-text" rows="4" required></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit" style="max-width: 200px">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
