<div class="container">
  <mat-card class="card">
    <mat-card-title class="card-title mat-headline-6">Add a product</mat-card-title>

    <mat-card-content class="grid-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="price" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Manufacturer</mat-label>
        <mat-select>
          @for (manuf of manufacturers; track manuf) {
            <mat-option [value]="manuf.value">{{manuf.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select>
          @for (type of types; track type) {
            <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="file-upload">
        <p>Add picture:</p>
        No file uploaded yet.

        <button mat-mini-fab color="primary" class="upload-btn">
          <mat-icon>attach_file</mat-icon>

        </button>

      </div>
    </mat-card-content>

    <button mat-raised-button color="primary">Add product</button>
  </mat-card>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <!-- Manufacturer Column -->
    <ng-container matColumnDef="manufacturer">
      <mat-header-cell *matHeaderCellDef> Manufacturer </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.manufacturer}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="openDialogDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modify">
      <mat-header-cell *matHeaderCellDef> Modify </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openDialog()">
          <mat-icon>extension</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
